<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sns.like.dao.LikeMapper">
 	<select id="selectLikeByPostIdUserId" parameterType="map" resultType="int">
 		SELECT
 			COUNT(1)
 		FROM
 			`like`
 		WHERE
 			`userId` = #{userId}
 			AND `postId` = #{postId}
 	</select>
 	<insert id="insertByPostIduserId" parameterType="map">
 		INSERT INTO `like`
 		(
 			`postId`
			, `userId`
			, `createdAt`
 		)
 		VALUES
 		(
 			#{postId}
 			, #{userId}
 			, NOW()
 		)
 	</insert>
 	
 	<delete id="deleteByPostIdUserId" parameterType="map">
 		DELETE
 		FROM
 			`like`
 		WHERE
 			`userId` = #{userId}
 			AND `postId` = #{postId}
 	</delete>
 	
 	<select id="selectLikeCount" resultType="int">
		SELECT
 			COUNT(1)
 		FROM
 			`like` 	
 		WHERE
 			`postId` = #{postId}
 	</select>
 </mapper>